$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$floralWhite: #fffaf0;


.modal-header{
  background-color: $background-dark;

  .close{
    color: $floralWhite;
  }
}
.modal-title{
  color: $floralWhite;
}
.modal-body{
  background-color: $background-pale;
}
